<!DOCTYPE html>
<html>

<head>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <style>
    /*---------------------------------------
   Social section
-----------------------------------------*/
    footer {
      padding: 0px 0px 0px 0px;
      background-color: black;
      margin: 0px;
  
    }


    p {
      text-align: center;

    }
  </style>
</head>

<footer>
  <br>



  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div style="color:#ffffff;" class="wow fadeInUp footer-copyright">
          
        </div>
      </div>
    </div>
  </div>
</footer>


</html>
